body {
    background-color: cadetblue;
    font-family: 'Calibri', sans-serif;
}

h2 {
    color: rgb(255, 0, 0)
}

li {
    background-color: aquamarine;
}

footer {
    background-color: palevioletred;
}